doctype html
html(lang="en")
  head
    title my boilerplate
    link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
  body
    #app
    script(type='text/javascript', src='/bundle.js')

