doctype html
html(lang="en")
  head
    title my boilerplate
    link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
  body
    link(href="https://fonts.googleapis.com/css?family=Quattrocento", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Oswald", rel="stylesheet")
    #app
    script(type='text/javascript', src='/bundle.js')

