doctype html
html(lang="en")
  head
    title pintogether
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Quattrocento", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Oswald", rel="stylesheet")
  body
    #app
    script(type='text/javascript', src='/bundle.prod.js')


