@import 'mixins/media';

$pins-container-w: 100%;
$pins-gallery-w: 100%;
$pins-margin: 1%;
$pins-w: ($pins-gallery-w - (6 * $pins-margin))  / 3;
$pins-w-phone: $pins-gallery-w * 0.9;
$container-margin: 40px;
$username-color: #424242;
$likes-border-color: #EBEBEB;

.all-pins-container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  .all-pins-title {
  }
  .pin-gallery {
    max-width: $pins-container-w;
  }
}

@include phone {
  .all-pins-container {
    padding: 0;
  }
}
