@import 'mixins/media';

$container-width: 500px;
$container-width-phone: 100%;

.create-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: $container-width;
  text-align: center;
  .user-image-container {
    height: 300px;
    width: 100%;
    .user-image {
      box-sizing: border-box;
      position: relative;
      top: 50%;
      display: inline-block;
      padding: 0 20px;
      transform: translateY(-50%);
      text-align: center;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .create-pin-container {
    margin-top: 30px;
    label {
      display: block;
      margin: 5px 0;
    }
    input {
      box-sizing: border-box;
      width: 100%;
      margin: 5px 0;
      padding: 10px;
      font-family: inherit;
      font-size: 1.2em;
      transition: all 0.30s ease-in-out;
      border: 1px solid #EBEBEB;
      &:focus {
        border: 1px solid #424242;
      }
    }
    button {
      margin: 5px 0;
    }
    .create-pin-form {
      .title-field {
      }
      .url-field {
      }
      .pin-submit {
        box-sizing: border-box;
        font-family: inherit;
        font-size: 1.2em;
        background-color: #EBEBEB;
        box-shadow: 0;
        border: 0;
        width: 100%;
        transition: all 0.10s; 
        &:active {
          background-color: #A2A2A2;
          box-shadow: inset 0 0 4px #424242;
        }
      }
    }
  }
}

@include phone {
  .create-container {
    box-sizing: border-box;
    width: $container-width-phone;
    margin-top: 0;
    .create-pin-container {
      box-sizing: border-box;
      margin-top: 10px;
      text-align: center;
      label {
        display: block;
        margin: 5px 0;
      }
      input {
        box-sizing: border-box;
        margin: 5px 0; 
        width: 90%;
      }
      button {
        margin: 5px 0;
      }
      .create-pin-form {
        .title-field {
        }
        .url-field {
        }
        .pin-submit {
          box-sizing: border-box;
          font-family: inherit;
          font-size: 1.2em;
          background-color: #EBEBEB;
          box-shadow: 0;
          border: 0;
          width: 90%;
          transition: all 0.10s; 
          &:active {
            background-color: #A2A2A2;
            box-shadow: inset 0 0 4px #424242;
          }
        }
      }
    }
  }
}
