@import 'mixins/media';

$container-width: 500px;
$container-width-phone: 100%;

.create-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: $container-width;
  .user-image {
    width: 100%;
  }
  .create-pin-container {
    margin-top: 30px;
    label {
      display: block;
      margin: 5px 0;
    }
    input {
      margin: 5px 0;
      width: 100%;
    }
    button {
      margin: 5px 0;
    }
    .create-pin-form {
      .title-field {
      }
      .url-field {
      }
    }
  }
}

@include phone {
  .create-container {
    box-sizing: border-box;
    width: $container-width-phone;
    margin-top: 0;
    .create-pin-container {
      box-sizing: border-box;
      margin-top: 10px;
      text-align: center;
      label {
        display: block;
        margin: 5px 0;
      }
      input {
        box-sizing: border-box;
        margin: 5px 0; 
        width: 90%;
      }
      button {
        margin: 5px 0;
      }
      .create-pin-form {
        .title-field {
        }
        .url-field {
        }
      }
    }
  }
}
