$nav-bg-color: #EBEBEB;

.nav-container {
  height: 50px;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #bdc3c7 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #EBEBEB;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.20);
          
          
  .nav-item {
    position: relative;
    top: 50%;
    display: inline-block;
    padding: 0 20px;
    transform: translateY(-50%);
    text-align: center;
  }
}
