// Pin.jsx styles

.pin {
  font-family: 'Quattrocento', serif;
  box-sizing: border-box;
  padding: 4px;
  margin: $pins-margin;
  border-radius: 4px;
  border: 2px solid #EBEBEB;
  width: $pins-w;
  // change width on media query.
  // max-width
  // small / medium / large
  // small should show single column of image
  // medium  should show two or three
  // large should show five or more.
  text-align: center;
  img {
    width: 100%;
    height: auto;
  }
  .pin-title {
    font-size: 1.1em;
  }
  .pin-username {
    color: $username-color;
  }
  .likes {
    border: 1px solid $likes-border-color;
    cursor: pointer;
    .likes-counter {
      margin: 3px 5px;
    }
    .user-liked {
      color: red;
    }
  }
}

