// Pin.jsx styles

@import 'mixins/media';

$modal-w: 50%;
$modal-h: 100px;
$yes-no-height: $modal-h / 2;
$modal-offset-left: $modal-w / 2;
$modal-offset-top: $modal-h / 3;
$border-radius: 4px;
$username-color: #A7A7A7;

.pin {
  position: relative;
  font-family: 'Quattrocento', serif;
  background-color: #F3F3F3;
  box-sizing: border-box;
  margin: $pins-margin;
  border-radius: $border-radius;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.12);
  width: $pins-w;
  // change width on media query.
  // max-width
  // small / medium / large
  // small should show single column of image
  // medium  should show two or three
  // large should show five or more.
  text-align: center;
  .pin-close-box {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 3px;
    background-color: #FFF;
    border: 1px solid #EBEBEB;
    .pin-close {
    }
  }
  .confirm-remove-modal {
    position: absolute;
    box-sizing: border-box;
    color: red;
    left: $modal-offset-left;
    top: $modal-offset-top;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: $border-radius;
    width: $modal-w;
    height: $modal-h;
    .confirm-remove-yes {
      box-sizing: border-box;
      height: $yes-no-height;
      border: 1px solid black;
      cursor: pointer;
      color: white;
      border-radius: $border-radius;
      background-color: rgba(255, 0, 0, 0.59);
      span {
        box-sizing: border-box;
        position: relative;
        top: 50%;
        display: inline-block;
        transform: translateY(-50%);
        text-align: center;
      }

    }
    .confirm-remove-no {
      box-sizing: border-box;
      height: $yes-no-height;
      border: 1px solid black;
      cursor: pointer;
      color: white;
      background-color: rgba(19, 12, 12, 0.50);
      border-radius: $border-radius;
      span {
        box-sizing: border-box;
        position: relative;
        top: 50%;
        display: inline-block;
        transform: translateY(-50%);
        text-align: center;
      }
    }
  }
  img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
  }
  .pin-title {
    margin-top: 5px;
    font-size: 1.1em;
    padding: 3px;
  }
  .pin-username {
    color: $username-color;
    padding: 3px;
  }
  .likes-container {
    margin-bottom: 10px;
    padding: 3px;
    .likes {
      display: inline;
      cursor: pointer;
      .likes-counter {
        margin: 3px 5px;
      }
      .user-liked {
        color: red;
      }
      .user-not-liked {
        color: black;
      }
    }
  }
}

@include phone {
  .pin {
    width: 100%;
    margin: 10px 0;
  }
}
