
@import 'mixins/media';

.user-pins-container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  .all-pins-title {
  }
  .pin-gallery {
    max-width: $pins-container-w;
  }
}

@include phone {
  .user-pins-container {
    padding: 0;
  }
}

