$pins-container-w: 100%;
$pins-gallery-w: 100%;
$pins-margin: 1%;
$pins-w: ($pins-gallery-w - (6 * $pins-margin))  / 3;
$container-margin: 40px;
$username-color: #424242;
$likes-border-color: #EBEBEB;

@import "pins";

.all-pins-container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  .all-pins-title {
    // h3
    font-size: 1.3em;
    margin: 20px;
  }
  .pin-gallery {
    font-family: 'Quattrocento', serif;
    max-width: $pins-container-w;
  }
}

