@import 'allpins';
@import 'userpins';
@import 'create';
@import 'nav';
@import 'pins';
@import 'mixins/media';

html, body {
  font-family: 'Oswald', sans-serif;
}

.page-title {
  font-size: 1.3em;
  margin: 20px;
}

.intro {
  margin: 10px;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

@include phone {
}
