@import 'allpins';
@import 'userpins';
@import 'create';
@import 'nav';
@import 'pins';
@import 'mixins/media';

html, body {
  font-family: 'Oswald', sans-serif;
  //background: #fceabb; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #fceabb , #f8b500);
  //background: linear-gradient(to left, #fceabb , #f8b500);


  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
}

.page-title {
  font-size: 1.3em;
  margin: 20px;
}

.intro {
  margin: 10px;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

@include phone {
}
