@import 'allpins';
@import 'userpins';
@import 'create';
@import 'nav';
@import 'pins';

html, body {
  font-family: 'Oswald', sans-serif;
}

.page-title {
  font-size: 1.3em;
  margin: 20px;
}

.intro {
  margin: 10px;
}
